body {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #b9e4ec;
}

.tile {
  width: 1000px;
  margin: auto;
  border: solid 20px rgb(14, 144, 250);
  display: grid;
  grid-template-columns: repeat(40, 25px);
  grid-template-rows: repeat(24, 25px);
  position:relative;
  top: 50px;
}

.cell {
  width: 25px;
  height: 25px;
}

.wall {
  background-color: #010000;
  z-index: 10;
}

.path {
  background-color: #9e9e9e;
  z-index: 10;
}

.player {
  position: absolute;
  width: 25px;
  height: 25px;
  z-index: 10;
  border-radius: 25px;
}

.enemies {
  position: absolute;
  width: 25px;
  height: 25px;
  z-index: 10;
}

.heals {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-top: 1px;
  margin-left: 1px;
  z-index: 10;
  border-radius: 20px;
  animation: lightEffectHeals 2s infinite alternate;
}

@keyframes lightEffectHeals {
  100% {
    box-shadow: 0 0 5px 5px rgb(229, 12, 12);
  }
}

.swords {
  position: absolute;
  width: 23px;
  height: 23px;
  background-color:  rgb(76, 113, 246);
  margin-top: 1px;
  margin-left: 1px;
  z-index: 10;
  border-radius: 25px;
  animation: lightEffectSwords 1s infinite alternate;
}

@keyframes lightEffectSwords {
  100% {
    box-shadow: 0 0 5px 5px rgb(229, 221, 221);
  }
}
.health {
  display: flex;;
  width: 1000px;
  margin: auto;
  justify-content: center;
  align-items: center;
  position:fixed;
  top: 15px;
}

.speaker {
  color: rgb(20, 0, 0);
  display: flex;;
  width: 50px;
  margin: auto;
  justify-content: center;
  align-items: center;
  position:fixed;
  top: 0px;
  background-color: yellow;
}
